.info {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 80px;
  padding-top: 150px;
}

.container-main{
  width: 90%;
  padding: 15px;
  padding-bottom: 80px;
  border : 25px solid transparent;
  display: inline-block;  
  border: 2px solid black;  
  border-radius: 100px;
  background-color: rgb(255, 255, 255);


}

.start-test {
  margin-top: 45px ;
  background-color: #4CAF50;  
  color: white;  
  border: none;  
  border-radius: 10px;  
  padding: 12px 24px;  
  cursor: pointer;  
  font-size: 18px;  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
  transition: background-color 0.3s ease, box-shadow 0.3s ease;  
}

.start-test:hover {
  background-color: #45a049;  
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);  
}

.start-test:active {
  background-color: #3a923f;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);  
}


