/* Style global par defaut */
/* se met automatiquement dans toutes les pages */
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root {
  --bg-color-light: #f8f0eb;
  --bg-color: #f4e6d0;
  --bg-color-dark: #e5d5b6;
  
  --hl-color: #90dc7c;
  --title-color: #2d7813;

  --shadow-color: #663314;

  --font-family-body:  "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --line-height-body : 1.6;

  box-sizing: border-box;
}

@font-face {
  font-family: 'Bradley Hand ITC TT';
  src: url('BradleyHandITCTTBold.eot');
  src: local('Bradley Hand ITC TT Bold'), local('BradleyHandITCTTBold'),
      url('BradleyHandITCTTBold.eot?#iefix') format('embedded-opentype'),
      url('BradleyHandITCTTBold.woff2') format('woff2'),
      url('BradleyHandITCTTBold.woff') format('woff'),
      url('BradleyHandITCTTBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.shadowed {
  box-shadow: 0 0 15px -10px var(--shadow-color);
}

body, html, #content-wrapper, #app
{
  z-index: -10;
}

body, html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  color: #333;
  
  font-family: var(--font-family-body);
  background: var(--bg-color-light);
  
}

#content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
}

h1 {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;

  width: fit-content;

  font-size: 3em;
  
  color: var(--title-color);

  position: relative;
}

h1::first-letter {
  color: var(--hl-color);
  font-size: 130%;
  vertical-align: sub;
}

h1::after {
  content: "";
  position: absolute;

  width: calc(100% - 125px);
  height: 3px;
  border-radius: 2px;
  left: 75px;
  bottom: 15px;

  background-color: var(--hl-color);
  z-index: -1;
}

h2 {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;

  width: fit-content;

  font-size: 3em;
  
  color: var(--title-color);

  position: relative;
}

h2::first-letter {
  color: var(--hl-color);
  font-size: 130%;
  vertical-align: sub;
}

h2::after {
  content: "";
  position: absolute;

  width: calc(100% - 125px);
  height: 3px;
  border-radius: 2px;
  left: 75px;
  bottom: 15px;

  background-color: var(--hl-color);
  z-index: -1;
}

h3 {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;

  width: fit-content;

  font-size: 1.5em;
  
  color: var(--title-color);

  position: relative;
}