

.category-panel {
  background-color: #fff; 
  border-radius: 4px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  margin: 20px; 
}

.category-panel h2 {
  color: #333; 
  margin-bottom: 16px; 
  font-size: 24px; 
}

.question {
  border-bottom: 1px solid #eaeaea; 
  padding-bottom: 10px; 
  margin-bottom: 10px; 
}

.question h3 {
  color: #333; 
  font-size: 18px; 
  margin-bottom: 8px; 
}

.answer {
  display: block; 
  padding: 8px 12px;
  margin: 4px 0; 
  background-color: #f7f7f7; 
  border-radius: 4px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.answer:hover {
  background-color: #e7e7e7; 
}


.answer.active {
  background-color: #dedede;
  font-weight: bold; 
}
