header {
    background-color: var(--bg-color);
    
    height: 150px;
    width: 100vw;
}

.div-header {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.circle {
    position: relative;
    aspect-ratio: 1;
    width: 120px;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-color);
    
    font-size: 1.5em;
    color: var(--title-color);
    font-weight: 500;
    font-family: "Merriweather", serif;
    
    z-index: 10;
    cursor: pointer;

    border: none;
}

.circle:hover 
{
    background-color: var(--bg-color-light);
}

.circle-container:hover #circle1 {
    transform: translateX(-130px) translateY(-10px); /* Move top-left */
}
  
.circle-container:hover #circle2 {
    transform: translateX(-113px) translateY(108px); /* Move top-right */
}
  
.circle-container:hover #circle3 {
    transform: translateX(0) translateY(120px); /* Move directly down */
} 

.sub-circle {
    position: absolute;

    top: calc(15px); 
    right: calc(1%);
    
    aspect-ratio: 1;
    height: 100px;
    border-radius: 50%;
    border: none;

    background-color: var(--bg-color);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1em;
    color: var(--title-color);
    font-weight: 500;
    transition: transform 0.5s ease-in-out; 

    font-family: "Merriweather", serif; 
    cursor: pointer;
}

.sub-circle:hover {
    background-color: var(--bg-color-light);
}

.circle img {
    position: absolute; /* To enable custom positioning */
    top: 10%; /* Distance from the top */
    left: 10%; /* Distance from the left */
    width: 80%; /* Or another value to ensure it doesn't extend outside the button */
    height: 80%; /* Or another value to ensure it doesn't extend outside the button */
    border-radius: 50%; /* Optional: Follows the circle's rounded edges */
    object-fit: cover; /* Ensures the image scales properly */
}

.sub-circle img {
    width: 60px;
    height: 60px;
}