header {
    height: 90px;
    width: 100vw;
}

header h1 {
    padding: 0;
    margin: 0;
}

#div-header {
    /* position: absolute;
    z-index: -9; */

    height: 90px;
    width: 100vw;

    background-color: var(--bg-color);
    display: flex;
    justify-content: center; 
    align-items: center;
}

.circle-container
{
    position: absolute;
    min-width: fit-content;
    min-height: fit-content;
    top: 15px;
    left: 50px;
}

.circle {
    position: absolute;
    aspect-ratio: 1;
    width: 150px;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-color);
    
    font-size: 1.5em;
    color: var(--title-color);
    font-weight: 500;
    font-family: "Merriweather", serif;
    
    z-index: 10;
    cursor: pointer;

    border: none;
}

.sub-circle {
    position: absolute;
    bottom: -125px;
    left: 25px;
    
    aspect-ratio: 1;
    height: 100px;
    border: none;

    background-color:  #e1f3dc;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1em;
    color: var(--title-color);
    font-weight: 500;
    transition: transform 0.5s ease-in-out; 

    font-family: "Merriweather", serif; 
    cursor: pointer;

    z-index: 5;
}

.circle img {
    width: 50%;
    aspect-ratio: 1;
}
.sub-circle img {
    width: 40%;
    aspect-ratio: 1;
}

.circle:hover 
{
    background-color: #efefd3;
}

#circle1 {
    border-radius: 5px 50% 50% 50%;
}
.circle-container:hover #circle1 {
    transform: translateX(88.75px) translateY(88.75px);
}

#circle2 {
    border-radius: 50% 5px 50% 50%;
    transform: rotate(-45deg);
}
#circle2 .sub-circle-content {
    transform: rotate(45deg);
}
.circle-container:hover #circle2 {
    transform: translateX(0px) translateY(125px) rotate(-45deg); 

}
  
#circle3 {
    border-radius: 50% 50% 50% 5px;
    transform: rotate(45deg);
}
#circle3 .sub-circle-content {
    transform: rotate(-45deg);
}
.circle-container:hover #circle3 {
    transform: translateX(125px) translateY(0px) rotate(45deg);
} 
