
@media (prefers-color-scheme: light) {
  a {
    color: #116466; 
    text-decoration: none; 
  }
  a:hover {
    color: #d9b08c; 
  }
  button {
    color: white;
    border: none;
    padding: 10px 20;
  }
}
 
