:root {
  --progress-bg: #e0e0e0;
  --segment-hover-bg: var(--hl-color);
  --segment-active-bg: #ff9800;
  --text-color: #000;
  --neutral-bg: var(--bg-color);
  --hover-scale: 1.05;
  --font-size: 14px; 
}

.pb-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;
  align-items: center;
  margin-top: 180px;
  font-family: Arial, sans-serif;
  padding-bottom: 200px;
}

.progress-visual-bar-container {
  display: flex;
  width: 100%;
  max-width: 960px; 
  background-color: var(--progress-bg);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.progress-visual-bar-segment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background-color: var(--neutral-bg);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}

.segment-text {
  color: var(--text-color);
  font-size: var(--font-size);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.progress-visual-bar-segment:hover {
  background-color: var(--segment-active-bg);
  transform: scale(var(--hover-scale));
  z-index: 1; 
}

.progress-visual-bar-segment.active {
  background-color: var(--segment-hover-bg);
}
.questions-container {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  gap: 10px; 
  margin: 20px; 
}

.question-button {
  background-color: #4caf50; 
  color: white; 
  border: none; 
  padding: 10px 15px; 
  border-radius: 5px; 
  font-size: 14px; 
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.3s; 
}

.question-button:hover {
  background-color: #367b37; 
  transform: translateY(
    -2px
  ); 
}

.question-button:disabled {
  background-color: #9e9e9e; 
}

.navigation-buttons {
  display: flex;
  justify-content: flex-end; 
  width: 100%;
  max-width: 960px; 
  margin-top: 10px;
  padding-right: 20px; 
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 20px; 
  margin: 50px; 
}

.navigation-buttons button {
  background-color: #4caf50; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.3s; 
}

.navigation-buttons button:hover {
  background-color: #367b37; 
  transform: translateY(-2px); 
}

.navigation-buttons button:disabled {
  background-color: #9e9e9e; 
  cursor: default; 
  transform: none; 
}


@media (max-width: 768px) {
  .navigation-buttons {
    justify-content: center; 
    padding-right: 0; 
  }

  .segment-text {
    font-size: calc(
      var(--font-size) - 2px
    ); 
  }
}
