/* Style global par defaut */
/* se met automatiquement dans toutes les pages */

:root {
  --primary-color:  rgb(248, 242, 231);
  --secondary-color: rgb(211, 202, 185);

  --font-family-body:  "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --line-height-body : 1.6;
}



@font-face {
  font-family: 'Bradley Hand ITC TT';
  src: url('BradleyHandITCTTBold.eot');
  src: local('Bradley Hand ITC TT Bold'), local('BradleyHandITCTTBold'),
      url('BradleyHandITCTTBold.eot?#iefix') format('embedded-opentype'),
      url('BradleyHandITCTTBold.woff2') format('woff2'),
      url('BradleyHandITCTTBold.woff') format('woff'),
      url('BradleyHandITCTTBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 5px;

  color: #333;
  /* text-align: center; */
  font-family: var(--font-family-body);
  background: var(--primary-color);
}

section {
  margin-bottom: 20px;
}

h1 {

}

h2 {

}

h3 {

}

