header {
    background-color: rgb(237, 225, 204);
    padding: 20px 0;
    margin-bottom: 40px;
    text-align: center;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);  
}



.App-header {
    padding: 20px;
    position: relative; /* Needed for absolute positioning of the circle */
    display: flex;
    justify-content: flex-start; /* Aligns the h1 to the left */
    align-items: center;
    font-weight: 10; /* Lighter font-weight */
    font-family: "Arial", sans-serif; /* A common, less bold font-family */
}
  
header h1 {
    margin: 0;
    margin-right: auto; /* Ensures the h1 stays on the left */
    font-weight: 3rem; /* Light font-weight for a softer look */
    font-size: 3rem;;
    font-family: "Merriweather", serif; /* Merriweather for a touch of elegance */
    color: #276749; /* Deeper green for contrast */

}

  
.accent-text {
    color: #d2b48c;
}
  
.circle {
    margin-right: 600px;
    width: 150px;
    height: 100px;
    padding: 30px 50px;
    background-color: #f8fbc9;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    font-size: 1.5em;
    color: rgba(87, 74, 74, 0.749);
    font-weight: 500;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 50; /* Light font-weight for a softer look */
    font-family: "Merriweather", serif; /* Merriweather for a touch of elegance */
}
  
.sub-circle {
    margin-top: -5px;
    margin-left: 645px;
    position: absolute;
    padding: 30px 50px;
    width: 150px; /* Example size, adjust as needed */
    height: 100px;
    border-radius: 10%;
    background-color: #f8fbc9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: rgba(87, 74, 74, 0.749);
    font-weight: 500;
    top: 25px; /* Centered on main circle, adjust if needed */
    left: 25px;
    transition: transform 0.5s ease; /* Smooth transition for moving */
    font-weight: 50; /* Light font-weight for a softer look */
    font-family: "Merriweather", serif; /* Merriweather for a touch of elegance */
    cursor: pointer;
}

.circle-container:hover .sub-circle#circle1 {
    transform: translateX(200px) translateY(0px); /* Move top-left */
}
  
.circle-container:hover .sub-circle#circle2 {
    transform: translateX(400px) translateY(0px); /* Move top-right */
}
  
.circle-container:hover .sub-circle#circle3 {
    transform: translateX(600px) translateY(0px); /* Move directly down */
}